* {
  margin: 0px;
  padding: 0px;
}
/* Common style */
.common-btn {
  font-weight: 600;
  color: white;
  background-color: #1d4ed8;
  padding: 11.5px 41.5px;
  border-radius: 12px;
  border: none;
}
.box-p {
  color: #2563eb;
  font-family: "Inter", sans-serif;
  font-weight: 594;
  font-size: 14px;
}
.box-h3 {
  color: #0d1b2a;
}
.designation {
  color: #575757;
}
/* Header part style */
.header-part {
  margin-top: 23.5px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-part-2 {
  display: flex;
  list-style: none;
  gap: 24px;
}
.navbar-part-2 li a {
  text-decoration: none;
  color: #575757;
}
.common-btn {
  font-weight: 600;
  color: white;
  background-color: #1d4ed8;
  padding: 11.5px 41.5px;
  border-radius: 12px;
  border: none;
}
/* Header part style end */

/* Hero section style start */
.hero-section {
  margin-top: 24px;
  /* width: 1892px;  */
  height: 786px;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url(/assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
}
.hero-section-text-part {
  font-family: "Inter", sans-serif;
  color: white;
}
.hero-section-text-part h1 {
  padding-top: 136px;
  padding-left: 580px;
  letter-spacing: -3.2px;
  font-size: 80px;
}
.hero-section-text-part p {
  text-align: center;
  margin-top: 16px;
  padding-left: 553px;
  width: 829px;
  height: 108px;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.8);
}
.hero-section button {
  margin-top: 300px;
  margin-left: 860px;
  font-weight: 600;
  color: white;
  background-color: #1d4ed8;
  padding: 20px 40px;
  border-radius: 5px;
  border: none;
}
/* Hero section style End */

/* Meet the speakers start */
.meet-the-spekers {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 169px;
}
.meet-the-spekers h1 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  color: #000102;

  margin-bottom: 56px;
  letter-spacing: 2px;
  text-align: center;
}
.meet-the-spekers-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.box-1 {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
}
.box-1 img {
  border-radius: 10px 10px 0px 0px;
}
.box-1 p,
h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.box-1 .designation {
  margin: 24px;
}
.box-2 {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
}
.box-2 img {
  border-radius: 10px 10px 0px 0px;
}
.box-2 p,
h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.box-2 .designation {
  margin: 24px;
}
.box-3 {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
}
.box-3 img {
  border-radius: 10px 10px 0px 0px;
}
.box-3 p,
h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.box-3 .designation {
  margin: 24px;
}
.box-4 {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 15px;
}
.box-4 img {
  border-radius: 10px 10px 0px 0px;
}
.box-4 p,
h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.box-4 .designation {
  margin: 24px;
}
/* Meet the speakers finish */

/* Secure your spot start */
.secure-your-spot{
    margin-bottom: 129px;
}
.secure-your-spot-heading {
  text-align: center;
  
}
.secure-your-spot-heading h1{
    font-family: "Inter", sans-serif;
  font-size: 48px;
}
.secure-your-spot-heading p{
    margin-top: 15px;
    font-size: 18px;
    color: #575757;
    margin-bottom: 28px;
}
.all-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  
}
.card-1 {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
}
.card-1 .card-1-standard {
  color: #888888;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
.card-1-standard-price {
  color: #0d1b2a;
  font-size: 48px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.card-1-standard-pricing-unit {
  font-size: 13px;
  font-family: "Inter", sans-serif;
  color: #888888;
}
.card-1-heading-part {
  margin-bottom: 20px;
}
.card-1 hr {
  border: 1px solid rgba(229, 231, 235, 1);
  width: 323px;
}
.card-1-content {
  padding: 34px 36px;
}
.card-1-content ul li {
  font-family: "Inter", sans-serif;
  margin: 15px;
  font-weight: 350;
  color: #333333;
}
.card-1-content ul li::marker {
  color: #2563eb;
}
.card-1-content button {
  color: #2563eb;
  font-weight: 600;
  padding: 12px 107px;
  background-color: white;
  border: 1px solid #2563eb;
  border-radius: 10px;
}
.card-2 {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  background-color: #0d1b2a;
}
.card-2 .card-2-standard {
  color: #93c5fd;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
.card-2-standard-price {
  color: white;
  font-size: 48px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.card-2-standard-pricing-unit {
  font-size: 13px;
  font-family: "Inter", sans-serif;
  color: #888888;
}
.card-2-heading-part {
  margin-bottom: 20px;
}
.card-2 hr {
  border: 1px solid rgba(229, 231, 235, 1);
  width: 323px;
}
.card-2-content {
  padding: 34px 36px;
}
.card-2-content ul li {
  font-family: "Inter", sans-serif;
  margin: 15px;
  font-weight: 350;
  color: white;
}
.card-2-content ul li::marker {
  color: #2563eb;
}
.card-2-content button {
  background-color: #2563eb;
  color: #ffffff;
  font-weight: 600;
  padding: 12px 130px;
  border: 1px solid #2563eb;
  border-radius: 10px;
}
.card-3 {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  /* background-color: rgba(136, 136, 136, 1); */
  background-color: #f8f9fb;
}
.card-3 .card-3-standard {
  color: #888888;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
.card-3-standard-price {
  color: #0d1b2a;
  font-size: 48px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.card-3-standard-pricing-unit {
  font-size: 13px;
  font-family: "Inter", sans-serif;
  color: #888888;
}
.card-3-heading-part {
  margin-bottom: 20px;
}
.card-3 hr {
  border: 1px solid rgba(229, 231, 235, 1);
  width: 323px;
}
.card-3-content {
  padding: 34px 36px;
}
.card-3-content ul li {
  font-family: "Inter", sans-serif;
  margin: 15px;
  font-weight: 350;
  color: #333333;
}
.card-3-content ul li::marker {
  color: #2563eb;
}
.card-3-content button {
  color: #0d1b2a;
  font-weight: 600;
  padding: 12px 107px;
  background-color: #f8f9fb;
  border: 1px solid #0d1b2a;
  border-radius: 10px;
}
